.site_logo {
	background-image: url("./images/logo.avif");
	background-size: contain;
	background-repeat: no-repeat;
}

body {
	background-color: #1e1f4b;
}

.wrap {
	background-image: url("./images/banner-2.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
}

.headerbar, .navbar {
	background: transparent;
}

.navbar a {
	color: white;
}

