/*
	Neon effect: https://css-tricks.com/how-to-create-neon-text-with-css/
*/

.site_logo {
	background-image: url("./images/logo.avif");
	background-size: contain;
	background-repeat: no-repeat;
}

body {
	background-color: #1e1f4b;
	min-height: 100vh;
}

.wrap {
	border: none;
}

#page-header {
	background-image: url("./images/banner-2.jpg");
	background-size: cover;

	/* Compensate for .wrap default padding */
	margin: -15px;
	margin-bottom: 0;
}

@media (max-width: 700px) {
	#page-header {
		margin: 0;
	}
}

.headerbar, .navbar {
	background: transparent;
}

#nav-main > li > a, #nav-breadcrumbs > li > span > a {
	color: white;
}

#nav-main > li > a:hover, #nav-breadcrumbs > li > span > a:hover {
	color: #D31141;
}

/* BBCodes */

.bbcode-postit {
	background-color: #f5eca7;
	padding: 12px;
	min-width: 240px;
	max-width: 360px;
	margin-bottom: 12px;
}

.bbcode-postit-size-small {
	max-width: 240px;
}

.bbcode-postit-size-large {
	max-width: 480px;
}

.bbcode-postit::before {
	content: "";
	display: block;
	height: 20px;
	background-image: url("./images/postithole.jpg");
	background-repeat: space;
	margin: -4px;
	margin-bottom: 12px;
}

.bbcode-postit-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: larger;
	margin-bottom: 8px;
}

.bbcode-board {
	background-image: url("./images/paper-background.jpg");
	background-size: cover;
	padding: 24px 6px 12px 6px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 12px;
	align-items: start;
}

.bbcode-board > * {
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 12px;
}

.bbcode-board > .bbcode-choice {
	margin: 0 -6px;
	width: 100%;
}

.bbcode-choice {
	background-image: url("./images/mythos-background.jpg");
	padding: 24px;
	padding-bottom: 12px;
	color: white;
}

.bbcode-choice-inner {
	display: flex;
	flex-direction: column;
	margin: 0 -12px;
}

.bbcode-choice-inner > * {
	margin-bottom: 12px;
}

.bbcode-choice-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 12px;
	text-align: center;
}

.bbcode-board > img {
	max-width: 360px;
	max-height: 360px;
	border: 4px ridge white;
}

.bbcode-option {
	border: 4px solid #ec008c;
	border-radius: 4px;
	padding: 12px;
}

.bbcode-option-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 12px;
	color: #ec008c;
}

.bbcode-option:hover {
	box-shadow: 0 0 .2rem #ec008c,
		0 0 .2rem #ec008c,
		0 0 2rem #ab5299,
		 0 0 0.8rem #ab5299,
		0 0 2.8rem #ab5299,
		inset 0 0 1.3rem #ab5299
	;
	background-color: #1b0b2f;
}

.bbcode-block-title {
	text-transform: uppercase;
	font-size: 150%;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 12px;
}

.bbcode-board > hr {
	width: 100%;
	margin-top: 12px;
	margin-bottom: 24px;
	margin-left: 0;
	margin-right: 0;
	border-width: 4px;
	border-style: double;
}

.bbcode-board > .bbcode-block {
	background-color: #fefbf2;
	padding: 12px 0;
}

.bbcode-logos, .bbcode-mythos {
	border: 12px solid transparent;
	border-radius: 12px;
	padding: 12px;
	margin-bottom: 12px;
	min-width: 240px;
}

.bbcode-logos {
	color: black;
	border-color: #d2c7b4;
	background-color: #e8d8be;
}

.bbcode-mythos {
	color: white;
	border-color: #7e6481;
	background-color: #5d3e77;
}

.bbcode-logos, .bbcode-mythos {
	width: 240px;
}

.bbcode-logos-title, .bbcode-mythos-title {
	text-transform: uppercase;
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 12px;
	line-height: 1;
}

.bbcode-logos-title {
	color: #503d2f;
}

.bbcode-mythos-title {
	font-style: italic;
	color: #fff;
	text-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #b651d2,
		0 0 82px #b651d2,
		0 0 92px #b651d2,
		0 0 102px #b651d2,
		0 0 151px #b651d2
	;
}

.bbcode-logos-header, .bbcode-mythos-header {
	height: 24px;
	margin: -12px;
	margin-bottom: 12px;
	border-radius: 4px 4px 0 0;
}

.bbcode-logos-header::after, .bbcode-mythos-header::after {
	height: 24px;
	float: right;
	border-bottom: 8px solid transparent;
	border-radius: 4px;
}

.bbcode-logos-header {
	background-color: #9b4f2b;
}

.bbcode-logos-header::after {
	content: url("./images/logos-icon.svg");
	border-color: #9b4f2b;
}

.bbcode-mythos-header {
	background-color: #3a2230;
}

.bbcode-mythos-header::after {
	content: url("./images/mythos-icon.svg");
	border-color: #3a2230;
}

.bbcode-tag {
	background-color: #fff1a2;
	font-style: italic;
	padding-right: 2px;
	color: black;
}

.bbcode-mythos .bbcode-tag {
	color: black;
}

.bbcode-roll > svg {
	height: 24px;
}

.bbcode-roll > svg path {
	fill: currentColor;
}

